
* {
    box-sizing: border-box;
}
  
  #box {
    float: left;
    width: 33.33%;
    padding: 50px;
    }
  
  #clearfix::after {
    content: "";
    clear: both;
    display: table;
    }

#lightblue{
    background-color: #17BEBB; 
    padding: 5px;
    margin: 10px;    
    height: 100px;
    width: 100px;
    text-align: center;
}

#red{
    background-color:#D62246; 
    padding: 5px;
    margin: 10px;
    height: 100px;
    width: 100px;
    text-align: center;
}
        
#orange{
    background-color:#FFDBB5; 
    padding: 5px;
    margin: 10px;
    height: 100px;
    width: 100px;
    text-align: center;
}
       
#purple{
    background-color:#8B80F9; 
    padding: 5px;
    margin: 10px;
    height: 100px;
    width: 100px;
    text-align: center;
}

        